/* Media Queries */



@media (max-width: 600.98px) {
 #slide .carousel-inner h1 {
    padding: 11rem 7rem;
    font-size: 2rem;
 }
 #slide .carousel-indicators {
    display: none;
 }
 #slide .carousel-inner {
  height: 4000px !important;
  width: 100%;
 }
 #features .item-one,
 #features .item-two {
  margin-bottom: 1rem !important;
 }
 #about h4 {
  margin-top: 2rem;
 }
 #help-child .short-text {
  display: none;
 }
 #action img {
  display: none;
 }
 #action .bg-action {
  padding: 3rem 2rem;
 }
 #events .offset-1 {
  margin-left: 0% !important;
 }
 #footer {
  border-top-left-radius: 0% !important;
  border-top-right-radius: 0% !important;
  text-align: center;
 }
}

@media (min-width: 601px) and (max-width: 782.98px) {
  #slide .carousel-inner h1 {
    padding: 11rem 7rem;
    font-size: 2rem;
  }
  #slide .carousel-inner {
    height: 400px !important;
    width: 100%;
   }
  #slide .carousel-indicators {
    display: none;
  }
  #features .item-one,
  #features .item-two {
    margin-bottom: 1rem !important;
  }
  #about h4 {
    margin-top: 2rem;
  }
  #action img {
    display: none;
  }
  #action .bg-action {
    padding: 3rem 2rem;
  }
  #events .offset-1 {
    margin-left: 0% !important;
  }
  #footer {
    border-top-left-radius: 0% !important;
    border-top-right-radius: 0% !important;
    text-align: center;
   }
}

@media (min-width: 783px) {
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
  #help-child .short-text {
    display: none;
   }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #slide .carousel-inner h1 {
    padding: 11rem 7rem;
    font-size: 4rem;
 }
  #slide .carousel-indicators {
    display: none;
 }
  #features .item-one,
  #features .item-two {
    margin-bottom: 1rem !important;
  }
  #about h4 {
    margin-top: 2rem;
  }
  #help-child .short-text {
    display: none;
  }
   #action img {
    display: none;
  }
   #events .offset-1 {
    margin-left: 0% !important;
  }
  #footer {
    border-top-left-radius: 0% !important;
    border-top-right-radius: 0% !important;
    text-align: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) {
  
}

