* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 1rem;
  }
  body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-size: 1rem;
    overflow-x: hidden;
  }
  main{
    overflow: hidden;
    max-width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  a {
    text-decoration: none !important;
  }
  main {
    position: relative;
    margin: 0 auto;
  }


  /*******************************
          Main-Header
  ********************************/
  #main-header {
    position: absolute;
    background: transparent;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  #main-header .main-header-top {
    display: block;
    position: relative;
    background-color: #fff;
  }
  #main-header .top-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #main-header .logo img {
    max-width: 100%;
    width: 60px;
    max-height: 100%;
    padding: 1rem 0;
  }
  #main-header .top-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #main-header .top-menu li {
    display: inline-block;
    margin: 0 0.5rem;
  }
  #main-header .top-menu li > a {
    font-size: 1rem;
    color: #727272;
  }
  #main-header .top-menu .btn {
    background-color: #5BB358;
    font-weight: 700;
    width: 180px;
    height: 50px;
    line-height: 35px;
    color: #fff;
    border: 0;
    border-radius: 40px;
    margin: 0;
  }


  /*********************************
        Main-Header-Bottom
  *********************************/
  .main-header-bottom {
    position: absolute;
    right: 0;
    left: 0;
    
  }
  .main-header-bottom::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2rem 0;
    background-color: #2C2734B3;
    z-index: -1;
  }
  .navbar li a {
    font-weight: 600;
    color: #fff;
    margin: 0 1rem;
    transition: all 0.3s ease-in;
  }
  .navbar li a:hover {
    color: #ED6E0D;
    transition: all 0.3s ease-in;
  }
  .socials {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .socials li {
    display: inline-block;
    margin: 0 0.2rem;
  }
  .socials li a .icon {
    font-size: 1.2rem;
    color: #ED6E0D;
  }



/*****************************************
         BAr Compte
  *****************************************/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999 !important;
  }
  .sidenav h3{
    position: absolute;
    top: 15px;
    left: 15px;
    font: normal normal 600 22px/42px Poppins;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  

/*********************************
        Slide
*********************************/

  #slide .carousel-inner{
    position: relative;
    background-size: cover;
    height: 700px;
    z-index: -999;
  }
  #slide .carousel-inner h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 4.5rem;
    padding: 18rem 7rem;
    margin: 0 auto;
    max-width: 900px;
    color: #eeeeee;
    z-index: 999;
  }
  #slide .carousel-indicators {
    bottom: 80px !important;
  }
  #slide .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50% !important;
    background-color: #ED6E0D !important;
    z-index: -1;
  }


/*********************************
       Features
*********************************/
#features {
  position: relative;
  background: #fdfdfd;
}
#features h2 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 4rem;
}
#features .item-one {
  background: #ED6E0D;
  padding: 3rem 4rem 2.8rem 4rem;
  border-radius: 20px;
}
#features .item-three {
  background: #001d23;
  padding: 3rem 4rem 2.8rem 4rem;
  border-radius: 20px;
}
#features .item-two {
  background: #5BB358;
  padding: 3rem 4rem 2.8rem 4rem;
  border-radius: 20px;
}
#features .item-one:hover,
#features .item-two:hover,
#features .item-three:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
#features .item-one h3,
#features .item-two h3,
#features .item-three h3 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 2rem;
}
#features .item-one .text p,
#features .item-two .text p,
#features .item-three .text p {
  font-size: 1.1rem;
  color: #fff;
  line-height: 1.8;
}
#features .item-one .text .read-more,
#features .item-two .text .read-more,
#features .item-three .text .read-more {
  font-weight: 600;
  font-size: 1.4rem;
  color: #fff;
  width: 200px;
  margin-top: 1rem;
  border: 2px solid #fff;
  border-radius: 30px;
}


/*********************************
       About Us
  *********************************/

#about h4 {
  font-size: 1rem;
  color: #b3b3b3;
}
#about h2 {
  font-weight: 400;
  line-height: 2;
}
#about h2 > span {
  font-weight: 700;
}
#about .us p{
  font-size: 1.1rem;
  color: #818181;
  line-height: 1.8;
}
#about .img-about {
  position: relative;
}
#about .front {
  position: relative;
  z-index: 10;
  max-width: 500px;
}
#about .reverse{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}

/*********************************
       Statistic
*********************************/
#statistic {
  position: relative;
  background: #fcfcfc;
  z-index: -1;
}
#statistic h2 {
  font-weight: 700;
  font-size: 3rem;
  padding-top: 2rem;
}
#statistic .item-statistic {
  position: relative;
  padding: 5rem 4rem;
}
#statistic .item-statistic::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 80px;
  right: 3%;
  top: 40%;
  bottom: 10px;
  background-color: #151616;
  z-index: 999;
}
#statistic .item-statistic:nth-child(1) {
  border-left: none;
}
#statistic .item-feature {
  margin-left: 1rem;
}
#statistic .item-feature h3 {
  font-weight: 700;
  font-size: 4rem;
}
#statistic .item-feature span {
  font-size: 1rem;
  text-transform: uppercase;
}



/*********************************
      help-child
*********************************/
#help-child {
  position: relative;
  background: url('images/you-can-help-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#help-child span {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  color: #ED6E0D;
}
#help-child h2 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 60px;
  margin-bottom: 2.5rem;
}

#help-child .icon-text {
  position: relative;
  display: block;
  width: 193px;
  height: 193px;
  background-color: #fff;
  border-radius: 50%;
}
#help-child .icon-text::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 13px;
  right: 25px;
  transform: rotate(-85%);
}
#help-child .icon-text .text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#help-child .icon-text .text-box p {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  color: #001d23;
  margin: 0;
}
#help-child .icon-text .icon-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -30px;
  right: -30px;
  width: 105px;
  height: 105px;
  background-color: #ED6E0D;
  border-radius: 50%;
  color: #fff;
  font-size: 3.5rem;
}
#help-child a {
  color: #fff;
}
#help-child .item-help-one {
  background: #ED6E0D;
  padding: 1.5rem 1.3rem;
  border-radius: 20px;
}
#help-child .item-help-two {
  background: #5BB358;
  padding: 1.5rem 1.3rem;
  color: #fff;
  border-radius: 20px;
}
#help-child .item-help-three {
  background: #001d23;
  padding: 1.5rem 1.3rem;
  color: #fff;
  border-radius: 20px;
}
#help-child .icon {
  font-size: 4rem;
}
#help-child .item-help-one h3,
#help-child .item-help-two h3,
#help-child .item-help-three h3 {
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}


/*********************************
      Action
*********************************/
#action .bg-action {
  background: url('images/map.png') center center no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin-top: -6rem;
}
#action .bg-action img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#action h2 {
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
  padding: 3rem 0 1rem;
}
#action p {
  font-size: 1.5rem;
  color: #fff;
}
#action .btn-action {
  background-color: #001d23;
  color: #fff;
  font-weight: 600;
  margin-top: 1.5rem;
  width: 210px;
  height: 55px;
  line-height: 40px;
  border: none;
  border-radius: 20px;
}

/*********************************
      Events
*********************************/
#events span {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  color: #ED6E0D;
}
#events h2 {
  font-weight: 700;
  font-size: 3rem;
}
#events .item-event {
  margin-top: 3rem;
}
#events .item-event .img-box {
  position: relative;
  display: block;
}
#events .item-event img {
  position: relative;
  border-radius: 10px;
}
#events .item-event .img-box .date {
  position: absolute;
  top: 20px;
  left: -20px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ED6E0D;
  color: #fff;
}
#events .item-event h3 {
  color: #151616;
  font-weight: 600;
  font-size: 2rem;
}
#events .item-event p {
  font-size: 1.1rem;
  color: #818181;
  line-height: 1.8;
  margin-top: 1.3rem;
}
#events .newsletter {
  position: relative;
  display: block;
  border-radius: 10px;
  background-color: #f7f4f2;
  text-align: center;
  padding: 3rem 4rem 3rem;
  margin-top: 7rem;
}
#events h4 {
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  font-size: 2rem;
}
#events form .form-control {
  background-color: #fff;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  color: #727272;
  padding: 0 5rem;
  margin-bottom: 1rem;
  text-align: center;
}
#events form .btn-primary {
  background-color: #ED6E0D;
  font-weight: 600;
  font-size: 1.2rem;
  width: 170px;
  height: 60px;
  line-height: 50px;
  border: none;
  border-radius: 20px;
}


/*********************************
      Footer
*********************************/

#footer {
  background-color: #001d23;
  border-top-left-radius: 40%;
  border-top-right-radius: 30%;
  color: #fff;
}
#footer .widget-one, 
#footer .widget-two,
#footer .widget-three,
#footer .widget-four  {
  margin-top: 2rem;
}
#footer .widget-one h3,
#footer .widget-two h3,
#footer .widget-three h3,
#footer .widget-four h3 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 1.3rem;
}
#footer .widget-one ul, 
#footer .widget-two ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .widget-one ul li {
  display: inline-block;
  margin: 1rem;
}
#footer .widget-two ul li {
  margin-top: 0.75rem;
}
#footer .widget-one ul li:nth-child(1) {
  margin-left: 0px !important;
}
#footer .widget-one ul li a {
  font-size: 1.4rem;
  color: #ED6E0D;
  transition: all 0.4s ease;
}
#footer .widget-two ul li a {
  font-weight: 500;
  color: #fff;
}
#footer .widget-one ul li a:hover {
  color: #b3b3b3;
  transition: all 0.4s ease;
}
#footer .widget-two ul li a:hover {
  color: #ED6E0D;
  transition: all 0.4s ease;
}

#footer .widget-four ul {
  list-style: none;
  padding: 1rem 1.2rem;
  margin: 0;
  border: 1px solid #ED6E0D;
  border-radius: 20px;
}
#footer .widget-four ul li {
  margin-top: 1rem;
}
#footer .widget-four ul li a {
  color: #f7f4f2;
}
